@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply m-0 box-border scroll-smooth p-0 font-montserrat text-black selection:bg-secondary/30 dark:text-white;
  }

  body {
    @apply overflow-x-hidden overflow-y-scroll bg-light dark:bg-dark;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-darker;
  }

  /* Autofill color disable */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 2147483647s ease-in-out 0s;
    -webkit-text-fill-color: #18a08b;
  }

  /* Active site page */
  .active-page {
    @apply underline decoration-secondary underline-offset-[7px];
  }

  /* Answer option box */
  .answer-option {
    @apply flex w-full cursor-pointer items-center rounded-md border-2 border-black/50 bg-black/5 px-3 py-3 text-lg font-medium outline-none transition-all duration-500 hover:bg-white/50 dark:border-white/50 dark:bg-slate-900 dark:bg-white/5 dark:hover:bg-black/50 sm:px-5 sm:py-4;
  }

  /* Answer result */
  .answer-correct {
    @apply bg-green-400 font-semibold dark:bg-green-400 !border-green-500;
  }

  .answer-wrong {
    @apply bg-red-400 font-semibold dark:bg-red-400 !border-red-500;
  }

  .answer-correct > span,
  .answer-wrong > span {
    @apply text-black dark:text-black;
  }

  /* Button */
  .border-button {
    background: linear-gradient(to left, #00000000 50%, #42b5a4 50%) right;
    background-size: 210%;
    @apply flex items-center justify-center border-primary py-1 px-2 tracking-wider transition-all duration-500 ease-in-out hover:bg-left dark:border-secondary dark:text-white md:text-lg xl:border;
  }

  .border-button span {
    @apply text-black dark:text-white;
  }

  /* Card */
  .card {
    @apply rounded-md border-2 border-black/20 bg-[#F2F2F2] p-4 shadow-lg shadow-black/5 backdrop-blur-lg dark:border-white/20 dark:bg-[#0D0D0D] dark:shadow-white/5;
  }

  /* Button: hover fill change left to right */
  .fill-button {
    @apply flex items-center justify-center rounded-lg bg-primary px-4 py-2 text-2xl font-semibold uppercase tracking-wider text-black transition-all duration-300 ease-in-out hover:bg-secondary;
  }

  /* Link bound text */
  .link-text {
    @apply font-medium tracking-wider text-blue-500 underline-offset-4 hover:underline;
  }

  /* Marks */
  .marks {
    @apply grid grid-cols-[1fr_70px] place-items-center text-lg font-semibold uppercase lg:grid-cols-[1fr_100px] lg:text-2xl;
  }

  /* Navigation bar */
  .navigation-bar {
    @apply left-0 right-0 top-0 border-b border-primary bg-white dark:border-secondary dark:bg-black;
  }

  /* Navigation menu */
  .nav-menu {
    @apply relative flex h-full items-center uppercase text-black transition-all duration-300 dark:text-white md:text-lg;
  }

  .nav-menu:after {
    @apply absolute bottom-[5%] block h-0.5 w-0 transition-all duration-300 ease-in content-[""];
  }

  .nav-menu:hover::after {
    @apply h-0.5 w-full bg-secondary;
  }

  /* Page heading */
  .page-heading {
    @apply mt-40 mb-10 text-center text-3xl font-bold uppercase tracking-wider text-primary dark:text-secondary sm:text-5xl xl:mt-28;
  }

  /* Score row */
  .score-row {
    @apply mb-2 grid grid-cols-[1fr_70px_70px] gap-1 lg:grid-cols-[1fr_70px_100px] [&>*]:text-center [&>*]:font-semibold [&>*]:uppercase;
  }

  /* Stat */
  .stat {
    @apply text-center text-5xl font-semibold uppercase text-black md:text-6xl [&>*]:text-black;
  }

  .go2072408551{
    @apply dark:!bg-red-700 bg-yellow-700;
  }
}
li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
button,
ion-icon { display: block; }

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  color: var(--davys-gray);
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container9 { padding-inline: 15px; }

.btn {
  color: var(--color, var(--white));
  font-size: var(--fs-4);
  max-width: var(--width, max-content);
  padding: 10px 20px;
  border-radius: var(--radius-10);
  transition: var(--transition-1);
}

.btn-primary,
.btn-secondary:is(:hover, :focus) { background-color: var(--pumpkin); }

.btn-primary:is(:hover, :focus),
.btn-secondary { background-color: var(--russian-violet); }

.btn-outline {
  --color: var(--pumpkin);
  --width: 100%;
  text-align: center;
  font-weight: var(--fw-500);
  border: 1px solid var(--cultured-3);
}

.btn-outline:is(:hover, :focus) {
  background-color: var(--pumpkin);
  color: var(--white);
}

.section9 { padding-block: var(--section-padding); }

.section9-subtitle {
  color: var(--pumpkin);
  font-size: var(--fs-3);
  margin-block-end: 5px;
}

.h1,
.h2,
.h3 { font-family: var(--ff-roboto); }

.h1,
.h2 { font-size: var(--fs-1); }

.h2,
.h3 { color: var(--eerie-black); }

.h3 { font-size: var(--fs-2); }

.section9-text,
.card-text {
  font-size: var(--fs-4);
  line-height: 1.8;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.btn-item-link {
  overflow: hidden;
  border-radius: var(--radius-10);
}

.btn-item-link .img { width: 136px; }

.w-100 { width: 100%; }

.section9-title { margin-block: 10px 20px; }

:is(.features, .blog) :is(.section9-subtitle, .section9-title) {
  text-align: center;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 15px;
  z-index: 4;
}

.header.active {
  position: fixed;
  transform: translateY(-100%);
  filter: drop-shadow(var(--shadow-1));
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header > .container9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--dark-purple);
  font-family: var(--ff-roboto);
  font-size: 35px;
  font-weight: var(--fw-900);
}

.nav-toggle-btn {
  background-color: var(--pumpkin);
  color: var(--white);
  font-size: 35px;
  padding: 2px 8px;
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-inline: 15px;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  max-height: 340px;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-list {
  background-color: var(--cultured-1);
  margin-block-end: 15px;
  padding: 20px 30px;
}

.navbar-link {
  color: var(--eerie-black);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  padding-block: 7px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus, .active) { color: var(--pumpkin); }

.navbar .btn { margin-block: 8px; }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background-color: var(--russian-violet);
  color: var(--white);
  padding-block-start: calc(var(--section-padding) + 70px);
}

.hero-content { margin-block-end: 20px; }

.hero-title { margin-block: 15px 20px; }

.hero .section9-text { margin-block-end: 30px; }





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features .section9-title { margin-block-end: 30px; }

.features-list {
  display: grid;
  gap: 10px;
}

.features-item {
  position: relative;
  transition: var(--transition-2);
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  background-color: var(--cultured-2);
  border-radius: var(--radius-10);
  z-index: -1;
}

.features-item:hover { transform: translateY(-10px); }

.features-card {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  margin: 20px;
  padding: 20px;
  border-radius: var(--radius-10);
  text-align: center;
}

.features-card .card-icon {
  color: var(--pumpkin);
  font-size: 35px;
  max-width: max-content;
  margin-inline: auto;
}

.features-card .card-icon ion-icon { --ionicon-stroke-width: 35px; }

.features-card .card-title { margin-block: 18px 15px; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { background-color: var(--cultured-3); }

.about .about-banner { margin-block-end: 20px; }

.about .section9-text,
.about-item:not(:last-child) { margin-block-end: 25px; }

.about-list { margin-block-end: 35px; }

.about-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.about-item .item-icon {
  background-color: var(--pumpkin);
  color: var(--white);
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
}

.about-item .item-title { margin-block-end: 10px; }





/*-----------------------------------*\
  #ABOUT 2
\*-----------------------------------*/

.about-2 .section9-text:last-of-type { margin-block: 30px; }

.about-2 .about-content { margin-block-end: 30px; }





/*-----------------------------------*\
  #APP
\*-----------------------------------*/

.app {
  background-color: var(--russian-violet);
  color: var(--white);
}

.app-banner { margin-block-end: 30px; }

.app .section9-title { color: var(--white); }

.app .section9-text { margin-block-end: 30px; }





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog .section9-title { margin-block-end: 30px; }

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.blog-list > li { max-width: 100%; }

.blog-card {
  padding: 15px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-2);
}

.blog-card .card-banner {
  border-radius: var(--radius-10);
  overflow: hidden;
}

.blog-card:is(:hover, :focus-within) .img-cover { transform: scale(1.2); }

.blog-card .card-content {
  padding: 15px;
  padding-block-start: 25px;
}

.blog-card :is(.card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}

.blog-card .card-meta-list {
  gap: 15px;
  margin-block-end: 15px;
}

.blog-card .card-meta-item { gap: 6px; }

.blog-card .card-meta-item ion-icon {
  color: var(--pumpkin);
  font-size: var(--fs-5);
}

.blog-card .card-meta-text { font-size: var(--fs-5); }

.blog-card .h3 { margin-block-end: 15px; }

.blog-card .card-title { transition: var(--transition-1); }

.blog-card .card-title:is(:hover, :focus) { color: var(--pumpkin); }





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { background-color: var(--cultured-3); }

.footer-top .container9 {
  display: grid;
  gap: 30px;
}

.footer-top .section9-text { margin-block: 15px 22px; }

.social-list {
  display: flex;
  gap: 15px;
}

.social-link {
  background-color: var(--white);
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background-color: var(--pumpkin);
  color: var(--white);
  transform: translateY(-2px);
}

.footer-list-title {
  color: var(--eerie-black);
  font-family: var(--ff-roboto);
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
  margin-block-end: 20px;
}

.footer-link {
  font-size: var(--fs-4);
  margin-block-start: 10px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus),
.footer-item .item-link:not(.address):is(:hover, :focus) {
  color: var(--pumpkin);
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 10px;
}

.footer-item ion-icon {
  flex-shrink: 0;
  color: var(--pumpkin);
  font-size: 17px;
  margin-block-start: 2px;
}

.footer-item .item-link {
  font-size: var(--fs-4);
  transition: var(--transition-1);
}

.footer-bottom {
  padding-block: 20px;
  border-block-start: 1px solid var(--gainsboro);
}

.copyright {
  font-size: var(--fs-4);
  text-align: center;
}

.copyright-link {
  color: var(--pumpkin);
  display: inline-block;
}





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 30px;
  right: -36px;
  background-color: var(--pumpkin);
  color: var(--white);
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-51px);
}







/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container9 {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * FEATURES
   */

  .features-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }



  /**
   * APP
   */

  .app-banner { max-width: max-content; }



  /**
   * FOOTER
   */

  .footer-top .container9 { grid-template-columns: 1fr 1fr; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4.5rem;

  }



  /**
   * REUSED STYLE
   */
  
  .container9 { max-width: 720px; }

  .h2 { --fs-1: 3.5rem; }

  .btn {
    font-size: unset;
    padding: 15px 30px;
  }

  .btn-list { gap: 20px; }

  .btn-item-link .img { width: 150px; }



  /**
   * HEADER
   */

  .navbar .btn {
    font-size: var(--fs-4);
    padding: 10px 20px;
  }



  /**
   * BLOG
   */

  .blog-list { gap: 20px; }

  .blog-list > li { max-width: calc(50% - 10px); }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container9 { max-width: 960px; }

  .btn-item-link .img { width: 185px; }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active,
  .navbar-list { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }



  /**
   * HERO
   */

  .hero .container9 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content { margin-block-end: 0; }



  /**
   * FEATURES
   */

  .features .section9-title { margin-block-end: 40px; }

  .features-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * ABOUT, ABOUT 2, APP
   */

  :is(.about, .about-2, .app) .container9 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about-banner,
  .app-banner { margin-block-end: 0; }



  /**
   * APP
   */

  .app {
    padding-block: 0;
    margin-block-end: 60px;
  }

  .app-content { padding-block: var(--section-padding); }

  .app-banner { transform: translateY(100px); }



  /**
   * BLOG
   */

  .blog-list > li { max-width: calc(33.33% - 13.33px); }



  /**
   * FOOTER
   */

  .footer-top .container9 {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    gap: 50px;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;

  }



  /**
   * REUSED STYLE
   */

  .container9 { max-width: 1180px; }

  .section9-text { --fs-4: 1.5rem; }

  .h2 { --fs-1: 4rem; }

  .h3 { --fs-2: 2.2rem; }



  /**
   * HEADER
   */

  .header { padding-block: 20px; }

  :is(.header, .hero) .container9 {
    max-width: unset;
    padding-inline: 25px;
  }

  .header .btn {
    font-size: var(--fs-3);
    padding: 14px 30px;
    border-radius: var(--radius-6);
    margin-block: 0;
  }



  /**
   * HERO
   */

  .hero { --section-padding: 30px; }



  /**
   * FEATURES
   */

  .features-list { gap: 25px; }

  .features-card { padding: 30px; }



  /**
   * BLOG
   */

  .blog-list { gap: 25px; }

  .blog-list > li { max-width: calc(33.33% - 16.66px); }



  /**
   * FOOTER
   */

  .footer-list-title { --fs-2: 2.2rem; }

  .social-link {
    font-size: 18px;
    padding: 14px;
  }

  .footer-link,
  .copyright { --fs-4: 1.5rem; }



  /**
   * BACK TO TOP
   */

  .back-top-btn {
    font-size: 24px;
    padding: 13px;
    bottom: 40px;
  }

  .back-top-btn.active { transform: translateX(-80px); }

 }
